* {
  --primary-color-bg: rgba(223, 133, 67, 0.69);
  --primary-color-text: rgb(223, 133, 67);
  --secondary-color: rgb(127, 148, 169);
  --tertiary-color: rgb(241, 241, 176);
  --quaternary-color: rgb(157, 37, 3);
  --light-color: rgba(255, 255, 255, 1);
  --dark-color: rgba(0, 0, 0, 1);
}

/* Header */
.navbar-head {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.876);
}

.jumbotron {
  height: 646px;
  background-image: url("..//public/img/Cascada.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: rgba(0, 0, 0, 0.36);
}

.main {
  margin-top: 120px;
  margin-bottom: 79px;
}

.container {
  max-width: 1240px;
}

/* News Section */
.news-card-1 {
  border-top-left-radius: 8px;
  background-color: rgba(255, 255, 255, 0.308);
  transition: ease all 0.3s;
}

.news-card-2 {
  background-color: rgba(255, 255, 255, 0.308);
  transition: ease all 0.3s;
}

.news-card-3 {
  border-top-right-radius: 8px;
  background-color: rgba(255, 255, 255, 0.308);
  transition: ease all 0.3s;
}

.news-card-1:hover .light-text {
  color: var(--dark-color);
  transition: ease all 1s;
}

.news-card-2:hover .light-text {
  color: var(--dark-color);
  transition: ease all 1s;
}

.news-card-3:hover .light-text {
  color: var(--dark-color);
  transition: ease all 1s;
}

/* Cards hover */
.news-card-1:hover {
  background-color: rgba(255, 255, 255, 0.692);
  transform: scale(1.1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.news-card-2:hover {
  background-color: rgba(255, 255, 255, 0.692);
  transform: scale(1.1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.news-card-3:hover {
  background-color: rgba(255, 255, 255, 0.692);
  transform: scale(1.1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Notch hover */
.news-card-1:hover ~ .notch {
  background-color: rgb(255, 255, 255);
  transition: ease all 0.3s;
  transform: translateY(-8px);
}

.news-card-2:hover ~ .notch {
  background-color: rgb(255, 255, 255);
  transition: ease all 0.3s;
  transform: translateY(-8px);
}

.news-card-3:hover ~ .notch {
  background-color: rgb(255, 255, 255);
  transition: ease all 0.3s;
  transform: translateY(-8px);
}

.new-img {
  background-color: rgba(0, 0, 0, 0.5);
  height: 130px;
  width: 162px;
  margin-left: 10px;
}

.notch {
  width: 100px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0%;
  top: -6px;
  left: 170px;
  border-radius: 8px;
  transition: ease all 0.3s;
  z-index: 2;
}

/* Section 1 | What is Geothermal Energy?  */
.section-1 {
  height: 450px;
}

/* Section 2 | Background */
.section-2 {
  height: 400px;
  background-image: url(..//public/img/background-fog.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-blur {
  position: absolute;
  height: 156px;
  transform: translateY(176px);
  background-color: rgba(0, 0, 0, 0.5);
}

.section-2-container {
  height: 400px;
}

.btn {
  z-index: 10;
}

/* Section 3 | Aims */
.section-3 {
  height: 556px;
}

/* Section 4 | Projects & Institutions*/
.section-4 {
  height: 620px;
}

.involved-img {
  height: 200px;
}

/* Partners */
.partner.igcp {
  width: 100px;
  height: 126px;
}

.partner.iugs {
  width: 161px;
  height: 156px;
}

.partner.unesco {
  width: 159px;
  height: 116px;
}

.institutions {
  width: 232px;
  height: 100px;
}

/* Footer | Contact & Social Media*/
.footer {
  height: 498px;
}

/* View more button styles */
.view-more-btn {
  border-radius: 25px;
  padding: 2px 8px 2px 4px;
}

.view-more-dark {
  background-color: rgba(71, 71, 71, 0.13);
}

.view-more-light {
  background-color: rgba(212, 212, 212, 0.73);
}

.view-more-dark:hover {
  background-color: rgba(71, 71, 71, 0.25);
}

.view-more-light:hover {
  background-color: rgba(212, 212, 212, 1);
}

.view-more-icon {
  background: url(..\\public\\assets\\view_more.svg);
  height: 20px;
  width: 20px;
  display: inline-block;
  transform: translateY(2px);
}

.view-more-text {
  display: inline-block;
  margin-bottom: 0;
  transform: translateY(-2px);
}

/* Colors */

.text-primary-color {
  color: var(--primary-color-text);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.btn-primary-color {
  background-color: var(--primary-color-text);
  color: white;
  border: none;
  transition: ease all 0.4s;
}

.btn-primary-color:hover {
  background-color: var(--primary-color-bg);
  color: white;
}

.btn-secondary-color {
  background-color: var(--secondary-color);
  color: white;
}

.light-text {
  color: var(--light-color);
  transition: ease all 0.5s;
}

.dark-text {
  color: var(--dark-color);
  transition: ease all 0.5s;
}
