/* Header */
.navbar-head {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.jumbotron {
  height: 646px;
  background-image: url;
}

.main {
  margin-top: 120px;
  margin-bottom: 77px;
}

.container {
  max-width: 1240px;
}

.news-card-1 {
  border-top-left-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

.news-card-2 {
  background-color: rgba(0, 0, 0, 0.2);
}

.news-card-3 {
  border-top-right-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

.new-img {
  background-color: rgba(0, 0, 0, 0.5);
  height: 130px;
  width: 162px;
  margin-left: 10px;
}

/* Section 1 */
.section-1 {
  height: 450px;
  background-color: aqua;
}

/* Section 2 */
.section-2 {
  height: 400px;
  background-color: burlywood;
}

.bg-blur {
  position: absolute;
  height: 156px;
  transform: translateY(176px);
  background-color: rgba(0, 0, 0, 0.5);
}

.section-2-container {
  height: 400px;
}

.btn {
  z-index: 9999;
}

/* Section 3 */
.section-3 {
  height: 556px;
}

/* Section 4 */
.inolved {
  height: 600px;
  background-color: royalblue;
}

.inolved-img {
  height: 200px;
}

/* Footer */
.footer {
  height: 498px;
}

/* View more button styles */
.view-more-btn {
  border-radius: 25px;
  padding: 2px 8px 2px 4px;
}

.view-more-dark {
  background-color: rgba(71, 71, 71, 0.13);
}

.view-more-light {
  background-color: rgba(212, 212, 212, 0.73);
}

.view-more-dark:hover {
  background-color: rgba(71, 71, 71, 0.25);
}

.view-more-light:hover {
  background-color: rgba(212, 212, 212, 1);
}

.view-more-icon {
  background: url(..\\public\\assets\\view_more.svg);
  height: 20px;
  width: 20px;
  display: inline-block;
  transform: translateY(2px);
}

.view-more-text {
  display: inline-block;
  margin-bottom: 0;
  transform: translateY(-2px);
}
