/* Header */
.navbar-head {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.jumbotron {
  height: 646px;
  background-image: url("..//public/img/Cascada.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: rgba(0, 0, 0, 0.36);
}

.main {
  margin-top: 120px;
  margin-bottom: 77px;
}

.container {
  max-width: 1240px;
}

.news-card-1 {
  border-top-left-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: ease all 0.3s;
  transform: scale(1);
}

.news-card-2 {
  background-color: rgba(0, 0, 0, 0.2);
  transition: ease all 0.3s;
  transform: scale(1);
}

.news-card-3 {
  border-top-right-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: ease all 0.3s;
  transform: scale(1);
}

.news-card-1:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}
.news-card-2:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}
.news-card-3:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.new-img {
  background-color: rgba(0, 0, 0, 0.5);
  height: 130px;
  width: 162px;
  margin-left: 10px;
}

/* Section 1 | What is Geothermal Energy?  */
.section-1 {
  height: 450px;
}

/* Section 2 | Background */
.section-2 {
  height: 400px;
  background-image: url(..//public/img/background-fog.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-blur {
  position: absolute;
  height: 156px;
  transform: translateY(176px);
  background-color: rgba(0, 0, 0, 0.5);
}

.section-2-container {
  height: 400px;
}

.btn {
  z-index: 9999;
}

/* Section 3 | Aims */
.section-3 {
  height: 556px;
}

/* Section 4 | Projects & Institutions*/
.section-4 {
  height: 620px;
}

.involved-img {
  height: 200px;
}

/* Partners */
.partner.igcp {
  width: 100px;
  height: 126px;
}

.partner.iugs {
  width: 161px;
  height: 156px;
}

.partner.unesco {
  width: 159px;
  height: 116px;
}

.institutions {
  width: 232px;
  height: 100px;
}

/* Footer | Contact & Social Media*/
.footer {
  height: 498px;
}

/* View more button styles */
.view-more-btn {
  border-radius: 25px;
  padding: 2px 8px 2px 4px;
}

.view-more-dark {
  background-color: rgba(71, 71, 71, 0.13);
}

.view-more-light {
  background-color: rgba(212, 212, 212, 0.73);
}

.view-more-dark:hover {
  background-color: rgba(71, 71, 71, 0.25);
}

.view-more-light:hover {
  background-color: rgba(212, 212, 212, 1);
}

.view-more-icon {
  background: url(..\\public\\assets\\view_more.svg);
  height: 20px;
  width: 20px;
  display: inline-block;
  transform: translateY(2px);
}

.view-more-text {
  display: inline-block;
  margin-bottom: 0;
  transform: translateY(-2px);
}
